<% layout("/layouts/boilerplate") %>
<body>
    <div class="col-5 offset-3">
        <h3>create new list</h3>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data" >
        

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
    </div>
        
        
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
        <textarea name="listing[description]" id="" cols="20" rows="5" placeholder="write here about this"class="form-control" required ></textarea

        
        ></div>
        
        <div class="mb-3">
            <label for="image" class="form-label">upload image</label>
            <input type="file" name="listing[image]"  placeholder="img" class="form-control" >

        </div>
        
       
        <div class="mb-3">
            <label for="price" class="form-label">price</label>
            <input type="text" name="listing[price]" placeholder="enter price" class="form-control" required>
        </div>
        
        
        <div class="mb-3">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" placeholder="country" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input type="text" name="listing[location]" placeholder="location" class="form-control" required>
            

        </div>
        <button class="btn btn-dark">add</button>
     </form>
    </div>
    
        <br><br>
        

   
    
</body>
